.swiper-button-next,.swiper-button-prev{
  color: #FFBA08 !important
}

.swiper-pagination-bullet{
  background-color: #FFBA08 !important;

}

.swiper-button-next:hover ,.swiper-button-prev:hover{
  filter: brightness(1.3);
}